body {
    overflow: hidden;
}

iframe {
    width: 1px;
    height: 1px;
}

#naxContainer {
    position: relative;
    margin: 2px auto;
    width: 1024px;
    height: 766px;
    background-color:#6BB1EB; 
}

#header {
    position: absolute;
    width: 1024px;
    height: 50px;
    top: 0px;
    z-index: 899;
}

#question {
    position: absolute;
    width: 378px;
    height: 706px;
    top: 55px;
    z-index: 902;
}

#stimulus {
    position: absolute;
    width: 631px;
    height: 706px;
    top: 55px;
    z-index: 901;
}

#navigation {
    position: absolute;
    width: 240px;
    height: 50px;
    top: 0px;
    z-index: 902;
}

#transition {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 903;
}

#dialog {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 904;
}

#help {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 905; overflow: hidden;
}

#contentContainer {
    height:700px; 
    width:1014px; 
    margin: 0 auto 0 auto; 
    padding:5px;
    background-color:#6BB1EB; 
}

