body {
    font-family: Arial;
    font-size: 14px;
    height:666px;
    border:solid 10px #D9E5C1;  
    background-color:#ffffff;
    width: 338px;
    padding: 10px;
    overflow: hidden;
}

body.bodyWide {
    font-family: Arial;
    font-size: 14px;
    height:666px;
    border:solid 10px #D9E5C1;  
    background-color:#ffffff;
    width: 974px;
    padding: 10px;
    overflow: hidden;
}

b {font-weight:bold;}
i {font-style: italic;}
p {margin-bottom: 14px;}
sub {
    position: relative;
    bottom: -0.5em;
    font-size: 0.83em;
}
u {text-decoration: underline;}
sup {
    position: relative;
    top: -0.5em;
    font-size: 0.83em;
}

.itemTitle {
    background-color: #B2D6F4;
    padding:5px;
    margin-right:2px; 
    margin-bottom:15px; 
    line-height:22px;
    box-shadow: 1px 1px 2px 0px #333333;
    min-height: 44px;
}

.itemDirections {
    margin-bottom:30px;
    font-style: italic;
}

.itemStem {}

.itemStemWide {
    width:700px;
    min-height: 400px;
    padding:50px 80px;
    margin:30px auto 0 auto;
    border: 1px solid #D9E5C1;  
}

.textbox {
    width:98.5%;
    outline:2px solid #D9E5C1;
    margin-top:4px;
}

.txtBoxIntro{
    margin: 14px 0px 2px;
}

.txt2 {
    height:34px;
}

.txt3 {
    height:51px;
}

.txt4 {
    height:68px;
}

.textInput {
   width:90%;
   outline:2px solid #D9E5C1;
   margin-top:4px;
}

.numeric {
    margin-top:4px;
    outline:2px solid #D9E5C1;
    width:100px;
}

input[type="radio"] {
    cursor:pointer;
    vertical-align:top;
    margin-right:10px;
}

label {
    cursor:pointer;
    display:inline-block;
}

.radioDistractor {
    margin: 5px 0 5px 0;
    display: table-row;
}
.radioDistractor input {
    display: table-cell;
    vertical-align: top;
}
.radioDistractor label {
    display: table-cell;
    vertical-align: top;
    padding-bottom: 6px;
}

input[type="checkbox"] {
    vertical-align:middle;
    margin-right:10px;
    cursor:pointer;
}

.checkboxDistractor {
    margin: 5px 0 5px 0;
    display: table-row;
}
.checkboxDistractor input {
    display: table-cell;
    vertical-align: top;
}
.checkboxDistractor label {
    display: table-cell;
    vertical-align: top;
    padding-bottom: 6px;
}

ul {
    margin: 5px;
    list-style-type: square;
}

li {
    margin: 0 0 10px 10px;
}

.greytable {
    border-collapse: collapse;
    margin-top:10px;
}

.greytable th {
    border: 2px solid #a6a6a6;
    background-color: #7f7f7f;
    color: #ffffff;
    font-weight:bold;
    padding: 6px;
    vertical-align:middle;
}

.greytable td {
    border: 2px solid #a6a6a6;
    background-color: #f2f2f2;
    padding: 6px;
}

.greytableRadio {
    text-align:center;
    vertical-align:middle;
}

.alignLeft {
 text-align:left;
}

input[type="radio"] {
    cursor:pointer;
}


#introDirections {
    margin-bottom: 15px;
    font-style: italic;
}

#introBullets {
    margin-bottom: 30px;
    list-style-type: disc;
    padding-left: 0px;
    margin-left: 20px;
}

#introBullets li {
    margin-left: 0px;
    margin-bottom:7px;
    padding-left: 0px;
    font-style: italic;
}

