#header {
    height:46px; 
    width:1014px; 
    padding: 5px;
    margin: 0 auto 0 auto; 
    background-color:#4F81BD;
    background-image:url("../../image/headerBG.png");
    color:#ffffff;
    overflow: hidden;
}

#headerTitle {
    margin-left:10px;
    font-size: 25px;
    font-family: Arial;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
}

#titleDiv {
	display: inline-block;
	min-width: 120px;
	position: relative;
	top: -6px;
}

#unitsList {
	margin-top: 6px;
	margin-left: 25px;
	display: inline-block;
}

#unitsList LI {
	border: solid #7e9a4f 2px;
	outline: 1px solid #ADC584;
	width: 20px;
	height: 28px;
    display: inline-block;
}

.unitUnvisited {
	background-color: #adc584;
}

.unitVisited {
	background-color: #6e8940  !important;
}

.unitActive {
	background-color: #ffffff  !important;
}

#clockDiv {
	width: 42px;
	height: 33px;
	background-image: url("../../image/Clock-0.png");
	display: inline-block;
	margin-left: 25px;
}
