body { user-select: none; -moz-user-select: none;
    background: url('../image/nav-background.png') no-repeat;
    overflow: hidden;
}

#container{
    width: 240px;
    margin: 0px auto;
    text-align: right;
}  

li {
    display: inline-block;
}

#previous {
    width: 38px;
    height: 38px;
    vertical-align: middle;
    cursor: pointer;
    background: url('../image/back-button.png') no-repeat;
    margin-top: 8px;
    margin-left: 50px;
}

#previous:hover {
    background: url('../image/back-button-rollover.png') no-repeat;
}

#previous[disabled] {
    background: url('../image/back-button-disabled.png') no-repeat;
}

#next {
    width: 38px;
    height: 38px;
    vertical-align: middle;
    cursor: pointer;
    background: url('../image/next-button.png') no-repeat;
    margin-top: 8px;
    margin-left: 5px;
}

#next:hover {
    background: url('../image/next-button-rollover.png') no-repeat;
}

#next[disabled] {
    background: url('../image/next-button-disabled.png') no-repeat;
}

#help {
    width: 38px;
    height: 38px;
    vertical-align: middle;
    cursor: pointer;
    background: url('../image/help-button.png') no-repeat;
    margin-top: 8px;
    margin-left: 8px;
}

#help:hover {
    background: url('../image/help-button-rollover.png') no-repeat;
}

#help[disabled] {
    background: url('../image/help-button-disabled.png') no-repeat;
}

#calculator {
    width: 38px;
    height: 38px;
    vertical-align: middle;
    cursor: pointer;
    background: url('../image/calculator.png') no-repeat;
    margin-top: 8px;
    display: none;
}

#calculator:hover {
    background: url('../image/calculator-rollover.png') no-repeat;
}

#calculator[disabled] {
    background: url('../image/calculator-disabled.png') no-repeat;
}

