#header {
    left: 0px;
}

#stimulus {
    left: 388px;
}

#question {
    left: 5px;
}

#navigation {
    left: 775px;
}

#transition {
    left: 0px;
}

#dialog {
    left: 0px;
}

#help {
    left: 0px;
}

#calculator {
        right: 80px;
}
