.textonormal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
}
.titulo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
.recuadro {
	border: 1px solid #0066FF;
	background-color: #A7b7FF;
}
.respuestas {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	border: 1px solid #E0EAFF;
	background-color: #E0EAEE;
}
