body { 
    font-family: arial;
    font-size: 20px;
    background-color: white;
    color: black;
    font-weight: bold;
    overflow: hidden;
}

#container {
    width: 630px;
    height: 440px;
    margin: 200px auto;  
}

#instructions {
    width: 550px;
    height: 440px;
    margin: 100px auto;  
    font-size: 17px;
    color: black;
}

#exampleTbl {
	width: 100%;
	margin-top: 30px;
	border-spacing: 6px;
}
#exampleTbl td {
	padding: 8px;
}
.exampleYes {
	text-align: center;
}

.sentenceProcSet {
  padding:0;
  list-style:none;
  width:530px;
  margin: 50px 50px 10px;
  min-height: 4em;
}

.sentenceItem {
	display: none;
	margin: 0px auto;
	text-align: center;
}

.sentenceSpan {
	text-align: left;
	display: inline-block;
}

.activeItem {
	display: block;
}

.shownItem {
	visibility: visible !important;
}

ul.sentenceProcAnswers {
  padding:0;
  list-style:none;
  text-align: center;
  margin-top: 20px;
}

ul.sentenceProcAnswers li {
  display:inline;
  padding: 10px 20px;
  margin: 20px 10px;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.selectedWord {
	background-color: #FFC55F;
}

.bottomMsg {
	position: absolute;
	left: 0px;
	top: 625px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 95%;
	visibility: hidden;
	font-size: 20px;
}

#nextBtnDiv {
  text-align: center;
  margin-top: 60px;
}
#next {
    width: 120px;
    height: 30px;
    vertical-align: middle;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

#endMsg {
  display: none;
  width: 800px;
  height: 540px;
  margin: -600px auto 0px;
  text-align: center;
}
