body {
    font-family: Arial;
    font-size: 14px;
	line-height:1.3;
    height:666px;
    border:solid 10px #D9E5C1;  
    background-color:#ffffff;
    width: 370px;
    padding: 10px;
    overflow: hidden;
}

body.bodyWide {
    font-family: Arial;
    font-size: 14px;
    height:666px;
    border:solid 10px #D9E5C1;  
    background-color:#ffffff;
    width: 974px;
    padding: 10px;
    overflow: hidden;
}

b {font-weight:bold;}
i {font-style: italic;}
p {margin-bottom: 15px;}
sub {
    position: relative;
    bottom: -0.5em;
    font-size: 0.83em;
}
u {text-decoration: underline;}
sup {
    position: relative;
    top: -0.5em;
    font-size: 0.83em;
}

#itemTitle {
    background-color: #B2D6F4;
    padding:5px;
    margin-right:2px; 
    margin-bottom:15px; 
    line-height:22px;
    box-shadow: 1px 1px 2px 0px #333333;
}
.itemTitle {
    background-color: #B2D6F4;
    padding:5px;
    margin-right:2px; 
    margin-bottom:15px; 
    line-height:22px;
    box-shadow: 1px 1px 2px 0px #333333;
}

#itemDirections {
    margin-bottom:20px;
}

#itemStem {}

.itemStemWide {
    width:700px;
    padding:50px 80px;
    margin:30px auto 0 auto;
    border: 1px solid #D9E5C1;  
}

.textInput {
    width:90%;
    outline:2px solid #D9E5C1;
    margin-top:4px;
    margin-bottom:4px;
}

input[type="radio"] {
    cursor:pointer;
    vertical-align:top;
    margin-right:5px;
}

label {
    cursor:pointer;
    display:inline-block;
    width:90%;
}

.radioDistractor {
    margin: 5px 0 5px 0;
}


.textbox {
   width:99%;
   outline:2px solid #D9E5C1;
   margin-top:4px;
}   

.txt3 {
    height:51px;
}

.txt4 {
    height:68px;
}

.greytable {
    border-collapse: collapse;
    margin-top:10px;
}

.greytable th {
    border: 2px solid #a6a6a6;
    background-color: #7f7f7f;
    color: #ffffff;
    font-weight:bold;
    padding: 6px;
    text-align:center;
    vertical-align: middle;
}
.greytable th:first-child {
    text-align:left;
}

.greytable td {
    border: 2px solid #a6a6a6;
    background-color: #f2f2f2;
    padding: 5px;
    text-align:left;
}

.greytableRadio {text-align: center !important;
    text-align:center;
    vertical-align:middle;
}


#introDirections {
	margin-bottom: 15px;
	font-style: italic;
}

#introBullets {
	margin-bottom: 30px;
	list-style-type: disc;
	padding-left: 0px;
	margin-left: 20px;
}

#introBullets li {
	margin-left: 0px;
	margin-bottom:7px;
	padding-left: 0px;
	font-style: italic;
}

.txt3 {
    height:51px;
}

.txt4 {
    height:68px;
}

#sourceContainer {
    height:200px;
    text-align: center;
    margin: 5px 0px 0px 0px;
}

.dragOption {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 1px 1px 2px 0 rgba(51, 51, 51, 0.3);
    float: left;
    margin: 3px 4px 3px 0px;
    padding: 2px 2px;
    text-align: left;
    height: 100px;
    width: 113px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    line-height: 13px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dragOption span {
    
}

.dragOption.sourceCol0 {
    float: none;
    display: inline-block;
} 
.destinations {
    background-color: #FFFFFF;
    height: 104px;
    width: 122px;
    border: 1px solid #D2D2D2;
}

.dragOption {
    cursor: pointer;
}

.dragOption:hover {
    box-shadow: 0px 0px 1px 1px rgba( 50, 255, 50, 1), 2px 2px 2px 0px rgba(51,51,51,.5);
}

.ui-draggable-dragging {
    box-shadow: 0px 0px 1px 1px rgba( 50, 255, 50, 1), 2px 2px 2px 0px rgba(51,51,51,.5);
}

.drop-hover {
    border: 1px solid #ff0000;
    background-color: rgba(256, 256, 256, .5);
}

h2 {font-weight: bold;}

#Q09Table {
    border-collapse: collapse;
    border: 1px solid #D2D2D2;
    margin: 0px -7px;
}
#Q09Table th {
    background-color: #E6EEF6;
    font-weight: bold;
    padding: 3px 5px;
    vertical-align: middle;
    border: 1px solid #D2D2D2;
}
#Q09Table td {
    vertical-align: middle;
    border: 1px solid #D2D2D2;
}
td.ddTDCol3 {
    padding: 3px 5px;
    font-size: 13px;
}
#itemDirections9 {
    margin-bottom: 5px;
}
#Q05Table td {
    font-size: 13px;
}
#destination2 {
    margin-left: -1px;
}
#destination3 {
    margin-top: -1px;
    margin-bottom: -1px;
}
#itemTitle9 {
    margin-bottom: 7px;
}
#q9p1 {
    margin-bottom: 10px;
}
.ques-ol {
    list-style-type:decimal;
    margin-left: 20px;
    margin-top: 25px;
}

.ques-ol li {
    padding: 0 0 1em 1em;
    margin: 0px;
}

.ques-ol textarea {
    width: 320px;
    display: block;
}

#Q09R2c2 {
	background-color: rgb(224, 224, 224);
}